 Q1

In [1]:
l = [1, 2, 3, 4]

In [12]:
for i in l :
    l1 = print(i**2)

1
4
9
16

In [14]:
l1=[]

In [15]:
for i in l:
    l1.append(i)

In [16]:
l1

[1, 2, 3, 4]

In [26]:
i = 1
while i <= 4:
    print (i ** 2)
    i = i +1

1
4
9
16

In [35]:
l3 = []

In [36]:
i = 1
while i<=4 :
    l3.append(i**2)
    i = i + 1
l3

[1, 4, 9, 16]

Q2
Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [ ]:
# using for loop

In [37]:
starting_point = 0
next_point = 1
for i in range(1,11) : 
    starting_point= starting_point + next_point
    next_point = next_point + 1
starting_point

55

In [39]:
start_point = 1
next_point = 1
for i in range(1,11):
    start_point = start_point * next_point
    next_point = next_point + 1
start_point

3628800

In [40]:
# using while loop

In [48]:
st_pt= 0
nt_pt = 1
while nt_pt <= 10 :
    st_pt = st_pt + nt_pt
    nt_pt = nt_pt + 1 
    
print (st_pt) #st_pt = start point and nt_pt = next point

55

In [49]:
a = 1
b = 1
while b <= 10 :
    a = a * b
    b = b + 1
print (a) # a is the start point and b is next point

3628800

Q3
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [55]:
units = int(input("Enter the number of units consumed this month: "))

if units <= 100 :
    charge = units * 4.5
    
elif units >= 100 and units <= 200 :
        charge = units * 6
    
elif units >= 200 and units <= 300 :
        charge = units * 10
else :
    charge = units * 20

print("You need to pay the sum of Rs ",charge,"/-")

Enter the number of units consumed this month: 318
You need to pay the sum of Rs  6360 /-

 Q4 
Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [56]:
l = list(range(1,101))

In [57]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [58]:
l4 = []

In [59]:
for i in l:
    if i**3 % 4 == 0 or i**3 % 5 == 0 :
        l4.append(i)
print(l4)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [75]:
l7 = []

In [76]:
i = 1
while i <= 100:
    if i**3 % 4 == 0 or i**3 % 5 == 0 :
        l7.append(i)
    i = i + 1
print(l7)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [80]:
new_string = ""

string = "I want to become a data scientist"

for i in string :
    if i == "a" or i == "e" or i == "I" or i == "i" or i == "o" or i == "u" :
        new_string = new_string + i
print("The number of vowels in the string are ",len(new_string))

The number of vowels in the string are  12